@font-face {
  font-family: 'GUERRILLA Normal';
  src: url('../fonts/GUERRILLA-Normal.eot');
  src: local('GUERRILLA Normal'), local('GUERRILLA-Normal'),
  url('../fonts/GUERRILLA-Normal.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GUERRILLA-Normal.woff2') format('woff2'),
  url('../fonts/GUERRILLA-Normal.woff') format('woff'),
  url('../fonts/GUERRILLA-Normal.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'rough-draft';
  src: url('../fonts/rough-draft.eot');
  src: local('rough-draft'), local('rough-draft'),
  url('../fonts/rough-draft.eot?#iefix') format('embedded-opentype'),
  url('../fonts/rough-draft.woff2') format('woff2'),
  url('../fonts/rough-draft.woff') format('woff'),
  url('../fonts/rough-draft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
  url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff'),
  url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Roboto-Medium.woff2') format('woff2'),
  url('../fonts/Roboto-Medium.woff') format('woff'),
  url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
