$dark-blue: #002E44;
$dark-light: #003F5D;

%guerrilla {
  font-family: 'GUERRILLA Normal';
  font-weight: normal;
}
%rough-draft {
  font-family: 'rough-draft';
  font-weight: normal;
}

%roboto-normal {
  font-family: 'Roboto';
  font-weight: normal;
}

%roboto-medium {
  font-family: 'Roboto';
  font-weight: 500;
}
